<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-inline">
          <li>
            <i class="fa fa-facebook"></i>
          </li>
          <li>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <i class="fa fa-github"></i>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <div class="text-right">
          Tous droits réservés
        </div>
      </div>
    </div>
  </div>
</footer>