---
title: Le Wagon Middleman boilerplate
---

<h1>COUCOU LA FAMILLE</h1>
<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div>
